#search-container {
    margin-top: 10px;
  }
  
  #character-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #character-table th, #character-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .filter-btn {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .highlight {
    background-color: darkgreen;
    color: white;
  }
  